@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QUẢN LÝ HỒ SƠN NHÂN SỰ</h1>
    <p class="w3-xlarge"> DANH SÁCH CÁC PHÒNG BAN </p>
  
        <ul class="w3-ul w3-center w3-large">
      <a href="http://localhost:5005/Sale"> <li class="w3-hover-green"> Phòng Kinh Doanh</li></a> 

       <a href="http://localhost:5005/Staff"> <li class="w3-hover-green"> Phòng Hành Chính</li> </a>

        <a href="http://localhost:5005/Luong"><li class="w3-hover-green"> Phòng Kế Toán</li></a>

        <a href="http://localhost:5005/Ceo"><li class="w3-hover-green"> Phòng Giám Đốc</li></a>
    </ul>
    
</div>
