@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QUẢN LÝ HỒ SƠN NHÂN SỰ</h1>
    <p class="w3-xlarge"> DANH SÁCH CÁC PHÒNG BAN </p>
  
        <ul class="w3-ul w3-center w3-large">
        <li class="w3-hover-green"> Phòng Kinh Doanh</li>

        <li class="w3-hover-green"> Phòng Hành Chính</li>

        <li class="w3-hover-green"> Phòng Kế Toán</li>

        <li class="w3-hover-green"> Phòng Giám Đốc</li>
    </ul>
    
</div>
