@* @{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1> *@
<div>
    <h1> Quản lý nhân sự</h1>
    <p> Một số thông tin về công ty chúng tôi</p>
    <ul>
        <li>Về Lương</li>
        <li> Các Mức Hạn Hợp Đồng</li>
        <li>Các vị trí Phòng Kinh Doanh</li>
        <li> Các vị trí Phòng Hành Chính</li>
        <li> Các vị trí Phòng Kế Toán</li>
        <li> Các vị trí Phòng Giám Đốc</li>
    </ul>
</div>
