@model FirstWebMVC.Models.DanhSachCongNhan

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Create Woker</h1>


<hr />
<div class=" max-width-40 ud-center ">
    <div class=" w3-container ">
        <form class="w3-container" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label  asp-for="MaNV" class="control-label"></label>
                <input class="w3-input w3-border w3-sand" asp-for="MaNV" class="form-control" />
                <span asp-validation-for="MaNV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input class="w3-input w3-border w3-sand" asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vitri" class="control-label"></label>
                <input class="w3-input w3-border w3-sand" asp-for="Vitri" class="form-control" />
                <span asp-validation-for="Vitri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Luong" class="control-label"></label>
                <input class="w3-input w3-border w3-sand" asp-for="Luong" class="form-control" />
                <span asp-validation-for="Luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trangthai" class="control-label"></label>
                <input class="w3-input w3-border w3-sand" asp-for="Trangthai" class="form-control" />
                <span asp-validation-for="Trangthai" class="text-danger"></span>
            </div>
            <div class=" w3-margin-top ">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="w3-margin-top">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
